<div class="container my-5 py-3 z-depth-1 rounded">


    <!--Section: Content-->
    <section class="dark-grey-text">
        <h4 class="card-header info-color white-text text-center py-4">
            <strong>Your Cart List</strong>
        </h4>

        <!-- Shopping Cart table -->
        <% if(prods.length > 0) { %>
        <div class="table-responsive">

            <table class="table product-table mb-0">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th></th>
                        <th class="font-weight-bold text-center">
                            <h5><strong>Product</strong></h5>
                        </th>
                        <th></th>
                        <th class="font-weight-bold text-center">
                            <h5><strong>Price</strong></h5>
                        </th>
                        <th class="font-weight-bold text-center">
                            <h5><strong>QTY</strong></h5>
                        </th>
                        <th class="font-weight-bold text-center">
                            <h5><strong>Amount</strong></h5>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <!-- /.Table head -->

                <!-- Table body -->
                <tbody>

                    <!-- First row -->
                    <% prods.forEach(product=>{ %>
                    <tr>
                        <th scope="row">
                            <img style="height: 300px;width: 450px;" src="<%= product.imageUrl %>"
                                alt="<%= product.title %>" class="img-fluid z-depth-0">
                        </th>
                        <td>
                            <h5 class="mt-3 text-center">
                                <strong><%= product.title %> </strong>
                            </h5>
                        </td>
                        <td></td>
                        <td>
                            <h5 class="mt-3 text-warning text-center">
                                <strong>$<%= product.price %></strong>
                            </h5>
                        </td>
                        <td>
                            <h5 class="mt-3 text-center">
                                <strong><%= product.quantity %></strong>
                            </h5>
                        </td>
                        <td class="font-weight-bold">
                            <h5 class="mt-3 text-success text-center">
                                <strong>$<%= (product.price * product.quantity) %></strong>
                            </h5>
                        </td>
                        <td>
                            <form action="/delete-cart-item" method="POST" class="mt-2">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button type="submit" class="btn btn-sm btn-danger" data-toggle="tooltip"
                                    data-placement="top" title="Remove item">X
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                    <!-- /.First row -->

                    <!-- Fourth row -->
                    <tr>

                        <td colspan="7" class="text-right">
                            <form action="/orders" method="POST">
                                <button type="submit" class="btn btn-primary btn-rounded">Order Now
                                    <i class="fas fa-angle-right right"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <!-- Fourth row -->

                </tbody>
                <!-- /.Table body -->

            </table>

        </div>
        <% }else{ %>
        <h1 class="display-4 text-center my-5 text-danger">Nothing Here</h1>
        <% } %>
        <!-- /.Shopping Cart table -->

    </section>
    <!--Section: Content-->


</div>