<main>


    <div class="container">

        <div class="container mt-5">


            <!--Section: Content-->
            <section class="dark-grey-text text-center">
                <% if(prods.length > 0) { %>
                <!-- Section heading -->
                <h1 class="font-weight-bold mb-4 pb-2">Our Products</h1>

                <!-- Grid row -->
                <div class="row">
                    <% prods.forEach(product => { %>
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 align-items-stretch">
                        <!-- Card -->
                        <div class="card align-items-center">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img style="height: 200px;" src="<%= product.imageUrl %>" class="card-img-top"
                                    alt="<%= product.title %>">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body text-center">
                                <!-- Category & Title -->
                                <!-- <a href="" class="grey-text">
                                    <h6>Shirt</h6>
                                </a> -->
                                <h3 class="mb-3">
                                    <strong>
                                        <p clss="dark-grey-text">"<%= product.title %>"
                                        </p>
                                    </strong>
                                </h3>

                                <h5 class="font-weight-bold blue-text mb-4">
                                    <strong>$<%= product.price %></strong>
                                </h5>
                                <h5 class="mb-3">
                                    <p class="dark-grey-text"><%= product.description.substring(0,30)+'.....' %></p>
                                </h5>
                                <a href="/products/<%= product._id %>"
                                    class="btn btn-black btn-rounded btn-sm px-3">Details</a>
                                <form action="/cart" method="POST">
                                    <button type="submit" class="btn btn-primary btn-rounded btn-sm px-3">Add To
                                        Cart</button>
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                </form>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->
                    <% }); %>
                </div>
                <!-- Grid row -->
                <% }else{ %>

                <h1 class="display-4 text-center my-5 text-danger">Nothing Here</h1>

                <% } %>
            </section>
            <!--Section: Content-->


        </div>

    </div>
</main>