<main>
    <div class="container">
        <div class="container my-5 py-5">


            <!--Section: Content-->
            <section class="text-center">


                <!--Grid row-->
                <div class="row">
                    <% prods.forEach(product => { %>
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <a href="" class="waves-effect waves-light">
                            <img style="width: 250px;height: 200px;" src="<%= product.imageUrl %> " class="img-fluid"
                                alt="<%= product.title %> ">
                        </a>

                        <p class="mb-1">
                            <a href="" class="font-weight-bold black-text">
                                <%= product.title %>
                            </a>
                        </p>

                        <p class="mb-1">
                            <strong>$<%= product.price %></strong>
                        </p>

                        <p><%= product.description %> </p>

                        <div class="amber-text fa-xs mb-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <button type="button" class="btn btn-black btn-rounded btn-sm px-3">Buy Now</button>
                        <button type="button"
                            class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">Details</button>

                    </div>
                    <!--Grid column-->

                    <% }); %>

                </div>
                <!--Grid row-->


            </section>
            <!--Section: Content-->


        </div>
    </div>
</main>