<main>
    <div class="container my-5">
        <!-- Card -->
        <div class="card card-cascade wider reverse" style="width: 40rem;">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" style="height: 400px;" src="<%= product.imageUrl %>"
                    alt="<%= product.title %>">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h3 class="card-title"><strong><%= product.title %></strong></h3>
                <!-- Subtitle -->
                <h5 class="font-weight-bold indigo-text py-2">$<%= product.price %></h5>
                <!-- Text -->
                <p class="card-text" style="text-align: justify;"><%= product.description %></p>

                <form action="/cart" method="POST">
                    <button type="submit" class="btn btn-primary btn-rounded btn-sm px-3">Add To
                        Cart</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                </form>

            </div>

        </div>
        <!-- Card -->
    </div>
</main>